:root {
          --primary:#00b3ff;
          --grey:#757575;
          --blue:#1c1cff;
          } 
          *{
          margin:0;
          padding:0;
          box-sizing:border-box;
          }
          .red{
           color:red;
          }
          body {
          font-family: 'Montserrat', sans-serif;
          font-size: 1rem;
          font-weight: 350;
          line-height: 1.3;
          color: #212529;
          text-align: left;
          background-color: #fff;
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
          }
          a,a:hover {
          text-decoration:none;
          color:var(--primary);
          }
          
          img{
          width:100%;
          }
          .container {
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          }
          
          @media (min-width: 576px) {
          .container {
          max-width: 540px;
          }
          }
          
          @media (min-width: 768px) {
          .container {
          max-width: 760px;
          }
          }
          
          @media (min-width: 992px) {
          .container {
          max-width: 980px;
          }
          }
          
          @media (min-width: 1200px) {
          .container {
          max-width: 1140px;
          }
          }
          
          .row{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
          }
          .rows{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          }
          .col-6 {
          flex: 0 0 50%;
          max-width: 50%;
          }
          .col-8 {
          flex: 0 0 66.666667%;
          max-width: 66.666667%;
          } 
          .col-9 {
          flex: 0 0 75%;
          max-width: 75%;
          }
          .col-12 {
          flex: 0 0 100%;
          max-width: 100%;
          }
          
          @media (min-width: 768px) {
          
          .col-md-3 {
          flex: 0 0 25%;
          max-width: 25%;
          }
          .col-md-4 {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          }
          .col-md-6 {
          flex: 0 0 50%;
          max-width: 50%;
          }
          .col-md-8 {
          flex: 0 0 66.666667%;
          max-width: 66.666667%;
          }
          .col-md-9 {
          flex: 0 0 75%;
          max-width: 75%;
          }
          .offset-md-4{
          margin-right:33.333333%; 
          }
          }
          
          
          .arow {
          display:inline-block;
          position:relative;
          height:2px;
          width:15px;
          background:var(--primary);
          vertical-align:middle;
          }
          .arow:before{
          content:'';
          position:absolute;
          right:0px;
          top:-2px;
          height:5px;
          width:5px;
          border-top:1px solid var(--primary);
          border-right:1px solid var(--primary);
          transform:rotate(45deg);
          }
          
          /*===============
          nav
          ================*/
          nav{
          height:56px;
          width:100%;
          background:#fff;
          display:flex;
          align-items: center;
          justify-content: space-between;
          padding:10px 20px;
          }
          .nav-logo{
          color:#0993e8;
          font-weight:bolder;
          font-size:24px;
          }
          .nav-logo span{
          color:var(--primary);
          }
          .menu-open{
          height:30px;
          width:30px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor:pointer;
          }
          .menu-open span{
          display:block;
          height:2px;
          width:22px;
          background:#000;
          margin:2px 0;
          border-radius:0.05em;
          }
          .close-menu {
          position:absolute;
          top:20px;
          right:25px;
          height:30px;
          width:30px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor:pointer;
          z-index:1;
          }
          .close-menu span {
          display:block;
          height:2px;
          width:22px;
          background:#000;
          }
          .close-menu span:nth-child(1) {
          transform:rotate(45deg) translate(0,1px);
          }
          .close-menu span:nth-child(2) {
          transform:rotate(-45deg) translate(0,-1px);
          }
          
          .sidebar {
          width:250px;
          background:#fff;
          height:100%;
          padding:20px;
          box-shadow:0 1px 5px rgba(0,0,0,0.2);
          }
          .menu {
          margin-top:30px;
          }
          .menu li{
          list-style:none;
          padding:7px;
          }
          .menu a{
          color:#5f5f79;
          font-size:18px;
          font-weight:450;
          transition:color 0.3s;
          }
          .menu a:hover {
          color:var(--primary);
          }
          /*===============
          header
          ================*/
          .header {
          width:100%;
          background:linear-gradient(90deg,rgba(255,255,255,0.9),rgba(198,236,255,0.9)), url('img/header1.jpg');
          background-size:cover;
          background-position:left center;
          display:flex;  
          flex-direction:column-reverse;
          position:relative;
          overflow:hidden;
          height:450px;
          }
          .department,
          .header-text ,
          .header-img {
          flex:1; 
          }
          .department{
          position:absolute;
          top:0;
          left:0;
          z-index:3;
          }
          .department-list {
          background:var(--blue);
          padding:40px 25px;
          border-radius:2px;
          width:250px;
          height:100vh;
          margin:0;
          transition:transform 0.5s ease;
          display:none;
          }
          
          
          .department-list h3{
          position:relative;
          color:#fff;
          margin-bottom:40px;
          }
          .department-list h3:before{
          content:'';
          position:absolute;
          width:40px;
          height:2px;
          border-radius:1px;
          left:0;
          bottom:-20px;
          background:#ccc;
          }
          .department-list-item li{
          color:#fff;
          list-style:none;
          text-transform:capitalize;
          margin-top:20px;
          }
          .header-text {
          position:absolute;
          top:50%;
          margin:0;
          transform:translateY(-50%);
          padding:30px;
          z-index:5;
          }
          .header-text h1{
          font-weight:bold;
          background: linear-gradient(to right, #494964,#6f6f89);
          -webkit-background-clip:text;
          -webkit-text-fill-color: transparent;
          font-size:2.3em;
          }
          .header-text p{
          margin:20px 0;  
          font-weight:500;
          font-size:18px;
          letter-spacing:1px;
          background: linear-gradient(to right,#00b3ff, #494964);
          -webkit-background-clip:text;
          -webkit-text-fill-color:transparent;
          }
          
          .header-text a{
          display:inline-block;
          border:1px solid var(--primary);
          border-radius:25px;
          font-weight:bold;
          vertical-align:middle; 
          background:var(--primary);
          color:#fff;
          padding:10px 20px;
          letter-spacing:1px;
          box-shadow:2px 1px 5px rgba(0,0,0,0.5);
          transition:background 0.5s,color 0.4s;
          z-index:9;
          }
          .header-text a:hover,
          .header-text a:focus{
          background:transparent;
          color:var(--primary);
          }
          
          .header-img{
          margin-top:30px;
          margin-left:10px;
          }
          .header-img amp-img{
          transform:translateX(60px);
          }
          /*===============
          sec1
          ================*/
          .contact {
          background:var(--primary);
          color:#fff;
          margin-top:30px;
          }
          .h2 {
          padding:20px 0px;
          padding-left:20px;
          font-size:18px;
          }
          .bg-white {
          background:#fff;
          color:var(--primary);
          display:block;
          }
          
          .h3{
          font-size:1.1em;
          font-weight:400;
          margin:15px 0 30px 20px;
          }
          .sec1 p{
          font-size:15px;
          font-weight:300;
          padding:15px;
          }
          .btn1 {
          display:inline-block;
          color:var(--primary);
          background:#fff;
          padding:10px 20px;
          border-radius:20px;
          margin:15px 15px 30px;
          vertical-align:middle;
          font-weight:400;
          box-shadow:2px 1px 5px rgba(0,0,0,0.3);
          }
          .form1 {
          padding:15px;
          }
          .form-control {
          outline:none;
          background:transparent;
          border:1px solid #fff;
          padding:10px 15px;
          color:#fff;
          width:calc(100% - 20px);
          display:block;
          margin:0 10px;
          margin-bottom:30px;
          border-radius:20px;
          }
          .form-control[type=submit]{
          background:#fff;
          box-shadow:2px 1px 5px rgba(0,0,0,0.3);
          color:var(--primary);
          }
          .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
          }
          .form-control::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
          }
          .form-control:-ms-input-placeholder { /* IE 10+ */
          color: #fff;
          }
          .form-control:-moz-placeholder { /* Firefox 18- */
          color: #fff;
          }
          
          .address {
          padding:0 15px;
          }
          .address li{
          list-style:none;
          border-bottom:1px solid #fff;
          padding:10px 0;
          width:100%;
          max-width:300px;
          font-size:15px;
          display:flex;
          justify-content: space-between;
          }
          .header ,nav{
          display:;
          }
          
          
          /*===============
          sec2
          ================*/
          .sec2 {
          margin-top:60px;
          }
          .about-img {
          margin-bottom:25px;
          }
          .sec2 h2{
          margin-bottom:10px;
          }
          .mt{
          padding:0 20px;
          }
          .link{
          color:var(--primary);
          margin:10px 0;
          display:block;
          }
          
          .border-box{
          border:15px solid rgba(198,236,255,0.9);
          margin-top:20px;
          border-radius:10px;
          padding:20px 30px;
          margin-bottom:20px;
          }
          .border-box li{
          color:var(--primary);
          font-size:14px;
          padding:0 5px 5px;
          }
          .btn2{
          display:inline-block;
          border:1px solid var(--primary);
          border-radius:25px;
          font-weight:bold;
          vertical-align:middle; 
          background:transparent;
          color:var(--primary);
          padding:7px 20px;
          margin-top:15px;
          }
          
          .meat-doctor{
          padding:20px;
          }
          .meat-doctor h3{
          margin-bottom:20px;
          
          }
          .about-doctor {
          position:relative;
          border:10px solid rgba(198,236,255,0.9);
          overflow:hidden;
          border-radius:2px;
          margin-bottom:10px;
          }
          .about-doctor-detail {
          position:absolute;
          top:75%;
          left:10px;
          transform:translate(0%,-75%);
          }
          .about-doctor-detail h4{
          font-size:18px;
          }
          .about-doctor-detail p{
          color:var(--primary);
          font-size:14px;
          }
          
          .accordion h4{
          background:var(--primary);
          color:#fff;
          padding:10px;
          font-weight:450;
          outline:none;
          }
          
          .accordion p{
          margin-top:10px;
          }
          .gallery{
          max-height:100vh;
          overflow-x:scroll;
          overflow-y:hidden;
          }
          .hide-sm{
          display:none;
          }
          
          /*===============
          sec4
          ================*/
          
          .sec4{
          margin:50px 0;
          }
          .sec4 .banner{
          height:450px;
          width:100%;
          background:linear-gradient(90deg,rgba(0,179,255,0.4),rgba(0,179,255,0.4)), url("img/healthcare-hospital.jpg");
          background-size:cover;
          background-position:center center;
          background-attachment:fixed;
          padding:20px;
          display:flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          color:#fff;
          text-align:center;
          }
          .sec4 .banner h1{
          font-size:2.3em;
          }
          
          /*===============
          sec5
          ================*/
          
          .title {
          position:relative;
          width:100%;
          margin:30px 0 50px;
          }
          .title:before{
          content:'';
          position:absolute;
          left:0;
          bottom:-15px ;
          width:100%;
          background:#ccc;
          height:2px;
          }
          .title:after{
          content:'';
          position:absolute;
          left:0;
          bottom:-16px ;
          width:100px;
          background:var(--primary);
          height:4px;
          border-radius:1px;
          }
          /* card */
          
          .card {
          border-radius:4px;
          margin-top:40px;
          box-shadow:1px 1px 5px rgba(0,0,0,0.3);
          }
          .card__img {
          
          }
          .card__body {
          padding:1em;
          }
          .card__title {
          font-size:25px;
          font-weight:340;
          margin:2px 0 8px;
          display:block;
          }
          .card__body .card__date,
          .card__body .card__comm{
          color:#999;
          padding:4px 8px;
          border:1px solid var(--primary);
          display:inline-block;
          margin:5px 8px 10px 0;
          font-size:14px;
          border-radius:2px;
          vertical-align:middle;
          }
          .card__body .card__comm{
          color:var(--primary);
          }
          .card__body p{
          font-size:15px;
          font-weight:300;
          margin-bottom:0.5em;
          }
          .card__footer p {
          margin-bottom:0;
          color:#999;
          font-size:14px;
          }
          .card__footer  p > span {
          color:var(--primary);
          }
          .view-all-post {
          text-align:center;
          display:table;
          font-size:14px;
          font-weight:500;
          margin:auto;
          margin-top:30px;
          } 
          /*===============
          sec6
          ================*/
          
          .sec6 {
          width:100%;
          margin-top:60px;
          background:rgba(198,236,255,0.9);
          }
          .sec6 .rows {
          position:relative;
          padding:30px;
          } 
          .sec6 h1{
          color:var(--primary);
          font-size:2.5em;
          margin-top:-50px;
          margin-bottom:10px;
          text-transform:uppercase;
          }
          .sec6 p{
          color:#898989;
          font-weight:400;
          font-size:18px;
          }
          .doctor-img {
          display:none;
          }
          
          /*===============
          Footer
          ================*/
          
          .footer {
          background:#4d606e;
          color:#ccc;
          padding:0 10px;
          font-size:14px;
          }
          .footer h3{
          color:#fff;
          padding:20px 10px;
          }
          .footer__news {
          list-style:none;
          margin:10px;
          }
          .footer__news li{
          margin-bottom:10px;
          border-bottom:1px solid rgba(204,204,204,0.3);
          }
          .footer__news li a{
          color:#fff;
          }
          .footer__news li:last-child {
          border:none;
          }
          .footer__news li span {
          display:block;
          color:#ccc;
          padding-bottom:10px;
          }
          .footer_address,
          .social-media {
          list-style:none;
          margin:10px;
          }
          .footer_address li{
          margin-bottom:5px;
          }
          .social-media li a{
          color:#fff;
          display:inline-block;
          margin-bottom:10px;
          font-size:16px;
          }
          
          .copyright {
          border-top:1px solid rgba(204,204,204,0.3);
          padding:5px 0;
          text-align:center;
          font-size:12px;
          }
          
          amp-accordion section[expanded] .show-more {
          display: none; 
          }
          
          amp-accordion section:not([expanded]) .show-less { 
          display: none;
          }
          
          
          @media (min-width: 768px){
          nav {
          padding:10px 30px;
          }
          .menu-open,
          .close-menu{
          display:none;
          }
          .hide-sm{
          display:block;
          }
          
          .sidebar{
          display:none;
          }
          .menu{
          margin:0;
          display:flex;
          justify-content:flex-end;
          align-items: center;
          height:100%;
          }
          .menu li{
          padding:0;
          margin-left:15px;
          }
          .header{
          flex-direction:row;
          align-items:flex-end;
          height:500px;
          }
          .department{
          position:static;
          display:block;
          }
          .department-list{
          width:60%;
          height:auto;
          margin:auto;
          margin-bottom:50px;
          transform:translate(0);
          display:block;
          }
          .department-list .list-btn{
          display:none;
          }
          .header-text{
          position:static;
          padding:0;
          }
          .header-text h1{
          font-size:2.3em;
          }
          .header-text p{
          font-weight:400;
          }
          .header-text a{
          background:transparent;
          color:var(--primary);
          padding:5px 20px;
          box-shadow:none;
          }
          .header-text a:hover{
          background:var(--primary);
          color:#fff;
          }
          .header-img{
          display:block;
          margin:0;
          margin-right:30px;
          }
          .header-img amp-img{
          transform:translateX(0);
          margin:0;
          }
          .form-control {
          padding:7px 15px;
          margin-bottom:15px;
          }
          .border-box .btn2 {
          margin-top:70px;
          }
          .meat-doctor{
          padding:0;
          padding-left:20px;
          }
          .about-doctor-detail h4{
          font-size:14px;
          }
          .about-doctor-detail p{
          font-size:12px;
          }
          .sec4 .banner {
          height:400px;
          padding:0 50px;
          } 
          .title{
          margin-bottom:70px;
          }
          .card {
          margin:0 10px;
          }
          .sec6 .rows{
          padding-bottom:0;
          }
          .sec6 .medical-img {
          margin-top:30px;
          margin-right:20px;
          }
          .sec6 h1{
          font-size:40px;
          line-height:1.1;
          margin-top:-70px;
          }
          .doctor-img {
          display:block;
          position:absolute;
          top:0;
          right:0;
          height:100%;
          width:34%;
          background:#fff;
          border-radius:50%;
          border-top-right-radius:0;
          border-bottom-right-radius:0;
          padding-right:20px;
          padding-top:45px;
          }
          .doctor-img{
          content:'';
          position:absolute;
          right:0;
          top:0;
          border-left:15px solid rgba(0,179,255,0.7);
          }
          .footer h3{
          margin-top:50px;
          }
          }